In [ ]:
#string1
def vowel_count(count):
 vowel="a,o,u,e,i"
 count=0
 test=str(input("enter ur word   "))
 for i in range (len(test)):
  if test[i] in vouel:
    count+=1
 return count
print(vowel_count(test))

enter ur wordlamees
3

In [ ]:
#string 2
def upper(test):
  test=str(input("enter ur word"))
  return test.upper()
print(upper(test))

enter ur wordlolo
LOLO

In [18]:
#list 1
def even1(even):
  list1=[1,2,3,4,5,6,7,8,9,10]
  even=[i for i in list1 if i%2 ==0]
  return even
print(even1(even))

[2, 4, 6, 8, 10]

In [23]:
# list 2
def ls (dup):
  list1=[1,7,3,4,7,6,8,8,9,10]
  dup=[]
  for i in list1 :
   if i not in dup:
     dup.append(i)
  return dup
print(ls(dup=6))

[1, 7, 3, 4, 6, 8, 9, 10]

In [5]:
#set
def inter(inter):
    set1=set(input("enter set valus"))
    set2=set(input("enter set valus"))
    inter=set1.intersection(set2)
    return inter
print (inter(inter))

enter set valus1,2,3,4
enter set valus3,4,5
{'4', '3', ','}

In [30]:
#set
def union(newset):
  set1=set(input("enter set valus"))
  set2=set(input("enter set valus"))
  newset=set1.union(set2)
  return newset
print (union(newset=12))

enter set valus2,3,4,5
enter set valus4,5,6,7
{'6', '7', '5', '2', ',', '3', '4'}

In [35]:
#sort tuples
def sort_tuples(tuple_list):
  sorted_list = sorted(tuple_list, key=lambda x: x[1])
  return sorted_list

In [ ]:
# resverse
def reverse_tuple(input_tuple):
    reversed_tuple = input_tuple[::-1]
    return reversed_tuple

In [ ]:
#dic
def extract_keys_and_values(input_dict):
    keys_list = list(input_dict.keys())
    values_list = list(input_dict.values())
    return keys_list, values_list